emacs.d/auto-save-list
emacs.d/elpa
emacs.d/straight/build/
emacs.d/straight/build-cache.el
emacs.d/straight/repos/
emacs.d/transient
emacs.d/tramp
emacs.d/recentf
emacs.d/.cache/
emacs.d/.lsp-session-v1
emacs.d/eclipse.jdt.ls/
emacs.d/.mc-lists.el
emacs.d/newsticker
emacs.d/url
emacs.d/request
emacs.d/settion*
emacs.d/spec
emacs.d/eshell
emacs.d/.trello
emacs.d/.dap-breakpoints
emacs.d/.extension
emacs.d/eln-cache
